@tailwind base;
@tailwind components;
@tailwind utilities;

/* Print tweaks */
@media print {
  .no-print { display: none !important; }
  .print-tight td, .print-tight th { padding: 4px 6px !important; }
  body { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
}
